# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
electron-dist
win32-x64-template-x1jNEe

# User-uploaded files
audio/
images/

# Database files
# quiz.db

# Package lock files
package-lock.json

# Test files
test-*.js
test*.json
add-*.js

# Compressed files
*.zip
*.rar
*.7z
*.bak
*.db

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Dockerfile
.dockerignore
